* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 25px Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

html {
  height: 100%;
  background: url(http://33.media.tumblr.com/d4a884274dff05760e01bd3bdcc6defb/tumblr_nb1ulnMaP91st5lhmo1_1280.jpg);
  background-size: cover;
}
